body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }

  #main {
    margin: 40px 10px;
    padding: 25px;
    border-radius: 5px;
    background-color: crimson;
  }

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  #img-div {
    background: white;
    padding: 20px;
    margin: 0;
  }

  #img-caption {
    margin: 5px 0 10px 0;
    font-size: 1.4rem;
  }

  #tribute-heading {
    margin: 40px 0;
    text-align: center;
  }

  ul {
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }

  li {
    margin: 10px 0;
  }

  blockquote {
    font-style: italic;
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
  }

  #tribute-info{
    background-color: crimson;  
    
  }